.mainAbout{
    background-image: url("img/sunset2.jpg");
    background-size: cover;
}

.mainGame {
    background-image: url("img/sunset3.jpg");
    background-size: cover;
}

#click-btn img {
    width: 100%;
    height: 100%;
}


#footerAboutUs {
    background-color: rgb(219, 140, 50);
    color:aliceblue;
    padding: 1px;
    border-radius: 20px;
    padding-bottom: 10px;
    margin-top: 75px;
    box-shadow:0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); 
}

#footerReferences {
    background-color: rgb(219, 140, 50);
    color:aliceblue;
    padding: 1px;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow:0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); 
}

#navbarAboutUs {
    background-color: rgb(235, 136, 80);
    font-size:larger;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#navbarIndex {
    background-color: rgb(235, 136, 80);
    font-size:larger;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#cardReferences {
    background-color: rgb(136, 88, 69);
    color: rgb(230, 230, 230);
    font-weight: 500;
    padding-top:10px;
    border-radius: 10px
}

#cardReferences p {
    font-size:larger;
}

#cardReferences p a {
    color: rgb(236, 202, 47);
}

#cardReferences p a:hover {
    color: rgb(185, 159, 40);
    transition: 0.3s;
}
.kartu{
    width: 300px;
}

/* #aboutUsRei {
    padding-left: 200px;
    padding-right: 50px;
}

#aboutUsRio {
    padding-right: 200px;
    padding-left: 50px;

}

#aboutUsDaril {
    padding-left: 200px;
    padding-right: 50px;
}

#aboutUsTristan {
    padding-right: 200px;
    padding-left: 50px;
} */

#infoRei {
    font-size: larger;
    font-weight: 500;
}

#infoRio {
    font-size: larger;
    font-weight: 500;
}

#infoDaril {
    font-size: larger;
    font-weight: 500;
}

#infoTristan {
    font-size: larger;
    font-weight: 500;
}